<link rel="stylesheet" href="/css/article.css">
<div class="article">
    <article>
        <div class="author-details">
            <h1>
                <%= heading %>
            </h1>
            <p class="">
                <%= subHeading %>
            </p>
            <div class="author">
                <img src="<%= userAvatar %>" class="avatar" alt="Profile">
                <div>
                    <p><%= user %></p>
                </div>
            </div>
        </div>
        <figure>
            <img src="<%= figure %>">
        </figure>
    </article>
</div>